header {
background-color:none;
width:99%;
font-family:verdana;
} 
footer {
background-color:green;
color: white;
font-size: 1vw;
font-family:verdana;
width:99%;
font-family:verdana;
}
main {
	background-color:#007f7f7f;
	position:relative;
	width:99%;
	height:100%;
	min-height: 100%;
	margin:auto;
	padding:0px;
	border: 0px;
    background-size: cover;
  	background-position: left top;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
	margin-left:0.1%;
	font-family:verdana;
}

h1 {
    font-size: 2vw;
	color: white;
	text-align:center;
	position:relative;
	font-family:verdana;
}
h1.todo {
	position:relative;
	color:lightGrey;
	text-align:center;
}

h2 {
color:white;
padding: 2% 1% 1% 1%;
}
#contacth1 {
color: white;
position:relative;
text-align:left;
font-size:4vw;
font-family:verdana;
height:100%;
}
#contacth2  {
color: white;
position:relative;
text-align:left;
font-size:2vw;
font-family:verdana;
height:100%;
}
h1 a {
color:white;
font-family:verdana;
}
nav a {
	font-size:1.2vw;
	font-family:verdana;
}
.btn {
color:white;
font-family:verdana;
}
li a:hover {
	color: green;
	background-color: ffffff;
}
li {
	display: inline;
	font-family:verdana;
	text-decoration: none;
}

ul {
	padding: 1%;
	background-color: green;
	border: 1% solid green;
	font-family:verdana;
}

li a, .dropbtn {
    
    color: white;
    text-align: center;
    padding: 0.1% 2%;
    text-decoration: none;
}

li .dropdown:hover .dropbtn {
    background-color: green;
}

li.dropdown {
    display: inline-block;
	font-family:verdana;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
	font-family:verdana;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

a.footer{
	display: inline;
	border: 1%; 
	font-size: 1vw; 
	color:white;
    text-decoration: none;	
	font-family:verdana;
	}
#bg { 

    /* Full height */
    height:100%; 
	width:100%;

    /* Center and scale the image nicely */
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#bannerimg {
width:100%;
}
.home-nav {
	position: relative;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	margin-bottom:40%;
	font-family:verdana;
}

.home-nav .btn {
	position: relative;
	height:20%;
	font-family:verdana;
}

.home-nav .btn img{
	position: relative;
	display: block;
	margin: auto;
}

.home-nav .btn .text {
	text-align: center;
	font-family:verdana;
}

.home-nav .btn a:active > img{
	width: 20%;
	font-family:verdana;
}
.home-nav .btn a:hover > img{
	width: 18%;
	font-family:verdana;
}

button.addtask {
position:relative;
left:47%;
}
button.removetask {
position:relative;
left:46%;
}